<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringSecurityBasicAuthMain" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="MAIN_CLASS_NAME" value="com.luxoft.spingsecurity.basicauth.SpringSecurityBasicAuthMain" />
    <module name="spring-security-basic-auth" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>