<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringSecurityRememberMeMain" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="MAIN_CLASS_NAME" value="com.luxoft.spingsecurity.rememberme.SpringSecurityRememberMeMain" />
    <module name="spring-security-remember-me" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>