<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringSecurityX509Main" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="MAIN_CLASS_NAME" value="com.luxoft.spingsecurity.x509auth.SpringSecurityX509Main" />
    <module name="spring-security-x509-client-auth" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>