<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringSecurityUserDetailsMain" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="MAIN_CLASS_NAME" value="com.luxoft.spingsecurity.userdetails.SpringSecurityUserDetailsMain" />
    <module name="spring-security-user-details" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>