<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringSecurityAclMain" type="Application" factoryName="Application" nameIsGenerated="true">
    <option name="MAIN_CLASS_NAME" value="com.luxoft.spingsecurity.acl.SpringSecurityAclMain" />
    <module name="spring-security-acl" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>